<h1>Criar</h1>

<form (submit)="submit($event)">
  <div class="custom-input col-md-6">
    <label class="form-label">Nome completo*</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nome completo"
      required
      [value]="account.name"
      (change)="handleChangeInput($event, 'name')"
    />
  </div>

  <div class="custom-input col-md-6">
    <label class="form-label">Email*</label>
    <input
      type="email"
      class="form-control"
      placeholder="email@example.com"
      required
      [value]="account.email"
      (change)="handleChangeInput($event, 'email')"
    />
  </div>

  <div class="custom-input col-md-6">
    <label class="form-label">Data de nascimento*</label>
    <input
      type="date"
      class="form-control"
      placeholder="Data de nascimento"
      required
      [value]="account.birthdate"
      (change)="handleChangeInput($event, 'birthdate')"
    />
  </div>

  <div class="custom-input col-md-6">
    <label for="inputState" class="form-label">País*</label>
    <select
      id="inputState"
      class="form-select"
      required
      [value]="account.country"
      (change)="handleChangeInput($event, 'country')"
    >
      <option *ngFor="let c of countryOptions">{{ c }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Criar</button>
</form>
