<div class="w-100 mx-auto">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <nav class="">
    <h5>NgBase Crud</h5>

    <div class="anchors">
      <a
        routerLink="/list"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Lista</a
      >
      <a
        routerLink="/create"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Criar</a
      >
    </div>

    <div></div>
  </nav>
  <router-outlet></router-outlet>
</div>
